@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
    box-sizing: border-box;
   
}

body{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    background-color: gray;
  
}
.majorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.cont1{
    border-radius: 10px 10px 0 0;
    background-color: white;
    padding: 20px 40px;
    grid-column: 1/3;
}
.cont1 h1{
    font-weight: 700;
    color: hsl(179, 62%, 43%);

}
.cont1 h2{
    font-weight: 700;
    font-size: 20px;
    color: hsl(71, 73%, 54%);
}

.cont1 p{
    color: hsl(218, 22%, 67%);
    opacity: 70%;
    font-weight: 700;
    padding: 0;
    
}


.cont2{
    background-color: hsl(179, 62%, 43%);
    color: white;
    padding: 20px 50px;
    border-radius: 0 0 0 10px;
}
.cont2 h1{
    color: white;
    font-size: 20px;
}

.cont2 h2{
    color: white;
    font-size: 30px;
}
.cont2 span{
    color: white;
    font-size: 15px;
    font-weight: 400;
    opacity: 50%;
}
.cont2 p{
    font-weight: 400;
    opacity: 90%;
}

button{
    width: 100%;
    padding: 20px 30px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    background-color: hsl(71, 73%, 54%);
}

.cont3{
    background-color: hsl(179, 62%, 58%);
    color: white;
    padding: 20px 30px 30px;
    border-radius: 0 0 10px 0; 
}
.cont3 h1{
    font-size: 20px;
}
.cont3 p{
    opacity: 60%;
    line-height: 70%;
}


